* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
html {
  background: url(../images/bg-pattern.jpg);
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 30px;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.8);
}
span {
  color: orange;
}

.logo-image {
  position: relative;
  width: 150px;
  height: 100px;
  left: 60px;
}
.menuu-image {
  max-width: 100%;
  max-height: auto;
}
#menu {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background-color: #f76707;
  top: 85px;
  left: 260px;
  height: 70px;
  width: 260px;
  font-size: 30px;
  color: white;
  font-weight: 700;
}
.logo {
  display: flex;
}
.logo h1 {
  color: black;
  position: relative;
  left: 30px;
}
.menu-photo {
  padding: 90px;
}
a {
  font-size: 1.2vw;
  color: black;
  text-decoration: none;
  margin: 10px;
  position: relative;
}

a:after {
  content: "";
  position: absolute;
  background-color: orangered;
  height: 5px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.9s;
}
a:hover:after {
  width: 100%;
}

.main {
  height: 300px;
}

.footer {
  width: 100%;
  background-image: url("footer-bg.jpg");
  background-color: black;
  height: 430px;
  margin-top: 25px;
  filter: brightness(1.5);
  background-repeat: no-repeat;
  background-size: cover;
}
#main_1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 40px;
}
#main_1 li {
  color: aliceblue;
  display: block;
  position: relative;
  top: 30px;
  font-size: 20px;
}
#img_3 {
  width: 250px;
  height: 100px;
  margin-top: 100px;
}
.logo-image {
  position: relative;
  width: 200px;
  height: 100px;
  left: 30px;
}
ul {
  color: white;
  list-style: none;
  position: relative;
  right: 20px;
}
#one {
  margin-top: 25px;
}
h3 {
  font-size: 36px;
  color: orangered;
}
h1 {
  color: aliceblue;
}
li {
  position: relative;
  cursor: pointer;
  padding-bottom: 10px;
  font-size: 39px;
}

li:hover:after {
  width: 100%;
}
ul h3 {
  position: relative;
  cursor: pointer;
  padding-bottom: 10px;
}
ul h3:hover:after {
  width: 100%;
}
.bottom-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
  top: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  padding: 22px;
}
.bottom-header a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-weight: 700;
  margin-left: 10px;
}
